$white: #fff;
$primary-color-1: #2699fb;
$primary-color-2: #1cb3fc;
$primary-color-3: #7fc4fd;
$primary-color-4: #bce0fd;
$primary-color-5: #468dff;

$qwe-color-1: #fafafa;
$qwe-color-2: #f1f9ff;

$success-color-1: #26fb88;



$white: #fff;
$whity: #fafafa;
$whity2: #f7f7f7;
$whity3: #f2efef;
$whity-blue: #f1f9ff;
$red: #ff350e;
$black: #000;
$dark-grey: #707070;
$grey: #414141;
$light-grey: #c9c9c9;
$bright-grey: #dbdbdb;
$green: #15cc15;
$blue: #000;
