.sk-multiselect {
    color: $black;
    &:focus {
        box-shadow: 0 0 0 1px black;
        border-radius: 4px;
    }
    &.sk-multiselect_square {
        .multiselect__tags {
            border-radius: 0;
        }
    }

    &_scrollable {
        // hack for border...
        .ps__rail-y {
            height: calc(100% - 1px) !important;
            overflow: hidden;
        }
    }

    .multiselect__select {
        height: 100%;
        top: 0;
        right: 0;
        transform-origin: center calc(50% - 2px);
        &::before {
            border-color: $grey transparent transparent;
            top: calc(50% + 2px);
        }
    }

    .multiselect__tags {
        border-color: $grey;
        background: $white;
        border-radius: 4px;
        padding: 21px 50px 8px 20px;
        line-height: 17px;
        min-height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .multiselect__tags-wrap {
    }

    .multiselect__tag {
        position: static;
        display: inline;
        padding: 0;
        border-radius: 0;
        margin-right: 10px;
        color: $black;
        line-height: inherit;
        background: transparent;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
    }

    &.multiselect--active:not(.multiselect--above) .multiselect__tags {
        border-bottom-color: transparent;
    }

    .multiselect__tag-icon {
        display: none;
    }

    .multiselect__strong {
        display: inline;
        line-height: inherit;
        display: none;
    }

    .multiselect__input {
        display: block;
        min-height: 0;
        font: inherit;
        line-height: inherit;
        border: none;
        border-radius: 0;
        background: transparent;
        padding: 0;
        width: 100%;
        transition: none;
        box-sizing: border-box;
        margin: 0;
        vertical-align: top;
    }

    .multiselect__input::placeholder {
        color: $dark-grey;
    }

    .multiselect__single {
        position: static;
        display: inline;
        padding: 0;
        border-radius: 0;
        margin-right: 10px;
        color: $black;
        line-height: inherit;
        background: transparent;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
    }

    .multiselect__placeholder {
        margin-bottom: 0;
        color: $dark-grey;
    }

    &.multiselect--active .multiselect__placeholder {
        display: inline-block;
    }

    .multiselect__content-wrapper {
        border: 1px solid $grey;
        padding: 0;
    }

    .multiselect__content {
        max-width: 100%;
    }

    &:not(.multiselect--above) .multiselect__content-wrapper {
        border-top-width: 0;
        margin-top: -1px;
    }

    .multiselect__option {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 4px 20px;
        text-align: left;
        font: inherit;
        font-size: 12px;
        line-height: 16px;
        color: $grey;

        &::after {
            display: none;
        }
    }

    .multiselect__option > span {
        min-width: 0;
        white-space: pre-wrap;
    }

    .multiselect__option--selected {
        background: #00000020;
    }

    .multiselect__option--highlight {
        background: #00000010;
    }

    .multiselect__option--selected.multiselect__option--highlight {
        background: #00000030;
    }

    &.sk-multiselect_multiple {
        .multiselect__option {
            &::before {
                flex: 0 0 auto;
                content: '';
                width: 14px;
                height: 14px;
                background: $white;
                border: 1px solid $black;
                margin-right: 7px;
                box-sizing: border-box;
            }
        }

        .multiselect__option--selected {
            &::before {
                background: $red;
                border-color: $red;
                background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 7"%3E%3Cpath d="M3.97299996274711,6.767999880790711 L-3.725290298461914e-8,2.8759998807907152 l0.806,-0.79 L3.97299996274711,5.1319998807907155 L9.211999962747086,-1.1920928955078125e-7 l0.806,0.79 z" fill="%23fff" /%3E%3C/svg%3E');
                background-position: center 3px;
                background-repeat: no-repeat;
                background-size: 10px 7px;
            }
        }
    }

    &.multiselect--active.multiselect--above {
        .multiselect__tags {
            border-top-color: transparent;
        }

        .multiselect__content-wrapper {
            border-bottom-width: 0;
            margin-bottom: -1px;
        }
    }
}

.sk-multiselect.sk-multiselect_overprice {
    .multiselect__select {
        display: none;
    }

    .multiselect__tags {
        border-color: $black;
        background: $whity;
        padding: 0;
        font-size: 14px;
        line-height: 16px;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .multiselect__tags-wrap {
    }

    .multiselect__tag {
        margin-right: 0;
    }

    .multiselect__single {
        margin-right: 0;
        margin-bottom: 0;
        text-align: center;
        min-height: 0;
    }

    .multiselect__content-wrapper {
        border-color: $black;
    }

    .multiselect__option {
        justify-content: center;
        padding: 4px 0;
        text-align: center;
        color: $black;
    }

    .multiselect__option--selected {
        background: rgba($red, 0.6);
    }

    .multiselect__option--highlight {
        background: rgba($red, 0.3);
    }

    .multiselect__option--selected.multiselect__option--highlight {
        background: rgba($red, 0.8);
    }
}
