.sk-order-form {
    max-width: 100%;

    &__destinations {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    &__destination {
        width: calc(100% - 45px);
        margin: 6px 0;

        &:first-child { margin-top: 0; }
        &:last-child { margin-bottom: 0; }
    }

    &__destination-swap {
        width: 22px;
        height: 22px;
        margin: -11px 0 -11px auto;
        cursor: pointer;
        color: $black;
    }

    &__somerow {
        margin-top: 26px;
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
    }

    &__add-destination {
        flex: 0 0 auto;
        margin-right: 10px;
    }

    &__phone {
        flex: 1 1 auto;
        min-width: 190px;
        margin-right: 10px;
    }

    &__price-group {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
        min-width: 95px;
    }

    &__price {
        flex: 0 0 auto;
        margin: 0 20px 0 0;
    }

    &__overprice {
        flex: 0 0 auto;
        min-width: 50px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }

    &__overprice-cross {
        background: $whity;
        border: 2px solid $black;
        border-radius: 10px;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 1px);
            left: calc(50% - 8px);
            width: 16px;
            height: 2px;
            background: $dark-grey;
        }

        &::after {
            transform-origin: center;
            transform: rotate(90deg);
        }

        // &:hover,
        // &:focus {
        //     &::before,
        //     &::after {
        //         box-shadow: 0 0 10px 1px $light-grey;
        //     }
        // }
    }

    &__help {
        display: flex;
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
        margin: 0 0 0 21px;
        align-self: center;
    }

    &__help-button {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        color: $light-grey;
        cursor: pointer;
        outline: none;
        user-select: none;
    }

    &__help-button:before {
        content: '';
        display: none;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 14px 0 14px;
        border-color: $black transparent transparent transparent;
        cursor: initial;
        z-index: 5;
    }

    &__help-popover {
        display: none;
        flex-flow: column nowrap;
        position: absolute;
        bottom: 100%; // vertical alignment
        margin-bottom: 14px; // vertical alignment
        left: 50%; // horizontal alignment
        transform: translateX(-50%); // horizontal alignment
        background: $black;
        font-size: 12px;
        line-height: 14px;
        color: $white;
        border-radius: 6px;
        width: 170px;
        box-sizing: border-box;
        padding: 30px 20px;
        height: auto;
        cursor: initial;
        z-index: 5;
    }

    &__help-button:hover,
    &__help-button:focus {
        color: $red;
        box-shadow: 0 0 0px 2px #000;
        border-radius: 12px;

        &:before {
            display: block;
        }

        > .sk-order-form__help-popover {
            display: flex;
        }
    }

    &__help-header {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    &__help-text {
        font-size: 12px;
    }

    &__wishes {
        margin-top: 26px;
        flex: 0 0 auto;
        display: flex;
        flex-flow: column nowrap;
        padding-right: 45px;
    }

    &__wishes-button-row {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 26px;
    }

    &__wishes-button {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
        user-select: none;
        cursor: pointer;
        background: transparent;
        border: 0px solid transparent;
        padding: 4px;
        border-radius: 3px;

        &-text {
            font-size: 14px;
            line-height: 16px;
            color: $black;
            text-transform: uppercase;
        }

        &-icon {
            color: $red;
            margin-left: 27px;
            transform-origin: center;
            transform: rotate(0deg);
            transition: transform 0.3s ease;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0px 2px $blue;
        }
    }

    &__wishes_expanded &__wishes-button-icon {
        transform: rotate(90deg);
    }

    &__wishes-content {
        display: none;
        flex-flow: column nowrap;
    }

    &__wishes_expanded &__wishes-content {
        display: flex;
    }

    &__wishes-row {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__wishes-car {
        flex: 1 1 0;
        margin-right: 5px;
        min-width: 0;
    }

    &__wishes-options {
        flex: 1 1 0;
        margin-right: 30px;
        min-width: 0;
    }

    &__wishes-toggle-schedule {
        flex: 0 0 210px;
    }

    &__wishes-schedule {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
    }

    &__wishes-schedule-header {
        flex: 0 0 auto;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
    }

    &__wishes-schedule-picker {
        flex: 0 0 auto;
    }

    &__wishes-schedule-notice {
        margin-left: 30px;
        flex: 0 1 auto;
        width: 300px;
    }

    &__bottomline {
        margin: 25px 45px 0 0;
        border-bottom: 1px solid $black;
    }

    &__comment-done {
        margin: 25px 0 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding-right: 45px;
    }

    &__comment {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row nowrap;
        margin-right: 10px;
        min-width: 0;
    }

    &__comment-group {
        flex: 1 1 auto;
    }

    &__done {
        margin: 0 0 0 auto;
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        &-btn {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        // &-btn {
        //     display: flex;
        //     flex-flow: row nowrap;
        //     align-items: center;
        //     user-select: none;
        //     cursor: pointer;
        // }

        // &-btn-text {
        //     color: $black;
        //     font-size: 12px;
        //     line-height: 14px;
        //     font-weight: bold;
        //     text-transform: uppercase;
        // }

        // &-btn-icon {
        //     width: 40px;
        //     height: 40px;
        //     border-radius: 20px;
        //     background: $red;
        //     margin: 0 0 0 30px;
        // }
    }
}

.sk-order-form-schedule-notice {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    font-size: 14px;
    line-height: 16px;
    color: $blue;
    text-align: left;

    &__header {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &__header-icon {
        color: $red;
        margin-right: 5px;
    }

    &__header-text {
        font-weight: bold;
        text-transform: uppercase;
    }

    &__content {
        flex: 0 0 auto;
        margin-top: 10px;
    }
}