.sk-price {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    box-sizing: border-box;
    // background: url('../images/icon-price.png') top left no-repeat;

    &__label {
        font-size: 10px;
        line-height: 11px;
        color: $dark-grey;
        margin-bottom: 5px;
    }

    &__value {
        font-size: 15px;
        line-height: 17px;
        color: $black;
        text-transform: uppercase;
    }
}
